@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	padding: 100px;

}
#quizContainer{
	font-family: Roboto;
	font-size: 15px;
	width: 600px;
	height: 600px;
	overflow: hidden;
	position: relative;
	color: #fff;
	background: #000 url('../img/background.jpg') no-repeat 0 0;
}
#quizContainer h2{
	font-size: 3em;
	margin: 0;
}
#quizContainer h3{
	font-size: 2.4em;
	margin: 0;
}
#quizContainer p{
	margin: 0 0 14px 0;
}
#quizContainer .btn{
	cursor: pointer;
	display: inline-block;
	background-color: #e67e22;
	color: #000;
	text-decoration: none;
	padding: 5px 15px;
	border-radius: 6px;
}

#quizContainer .intro{
	position: absolute;
	width: 550px;
	top: 225px;
	left: 40px;
}

#quizContainer .intro p{
	margin: 0 0 14px 0;
}