@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	padding: 100px;

}
#quizContainer{
	font-family: Roboto;
	font-size: 15px;
	width: 600px;
	height: 600px;
	overflow: hidden;
	position: relative;
	color: #fff;
	background: #000 url('../img/background.jpg') no-repeat 0 0;
}